@use "./colors" as c;
@use "./fonts" as t;

.main__chooseListBtn-wrapper,
.chooseListBtn-wrapper {
  display: flex;
  width: 100vw;
  height: 30vw;

  &__shoppingListBtn {
    width: 50vw;
    background-color: c.$one;
    color: c.$two;
    background-color: c.$two;
    color: c.$one;
    // border: 1vw solid c.$two;
    font: t.$descriptions-font;
    border: none;
    // border-bottom: c.$three 1vw solid;
    border-bottom: c.$three 0.01vw solid;
    cursor: pointer;
  }
  &__foodListBtn {
    width: 50vw;

    background-color: c.$two;
    // background-color: c.$three;
    // border: 1vw solid c.$two;
    border: none;
    font: t.$descriptions-font;
    color: c.$one;
    background-color: c.$one;
    color: c.$three;
    // border-bottom: c.$three 1vw solid;
    border-bottom: c.$three 0.01vw solid;
    cursor: pointer;
  }
}
