$background-color: #616b84;
// $background-color: #2c2e32;
// $background-color: #3a333c;
$slider-color: #a79dab;
// $background-color: #221f23;
$snowman-color: #bdefea;
$p-font-color: #f2ecf4;
$one: #e4eae4;
// $one: #D8D8D8;
// $one: #C8DBBE;
$two: #53694a;
// $two: #2e4931;
// $two: #665A48;
$three: #aabca2;
// $three: #6a6252;
// $three: #9F8772;
$four: #83917d;
