$headline-font: 700 normal 3rem "program", "helvetica";
$h3-font: 700 normal 2rem "program", "helvetica";
$h3-font-smaller: 300 normal 1.6rem "program", "helvetica";

$p-font: 300 normal 1.5rem "program", "comic sans";
$descriptions-font: 500 normal 1.5rem "bryant-web", "helvetica";
$descriptions-font-small: 500 normal 1rem "bryant-web", "helvetica";
$fun-font: 400 normal 3rem "gelato-luxe", "comic-sans";
$one: 600 italic 1.5rem "miller-display", serif;
