@use "./colors" as c;
@use "./fonts" as t;

foodListElements-wrapper,
.foodListElements-wrapper {
  &__pictogram-cheese {
    width: 10vw;
    margin-bottom: 0vw;
  }
  &__pictogram-milk {
    width: 6vw;
    margin-bottom: 2vw;
    margin-left: 5vw;
  }
}
