@use "./colors" as c;
@use "./fonts" as t;

.main__food-component-wrapper,
.food-component-wrapper {
  margin: 0 0 0.4vw 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  &__background-Rectangle,
  .background-Rectangle {
    background-color: c.$three;
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    &__FoodListpictogram {
      width: 10vw;
      height: 5vw;
      position: absolute;
      border: 4px red solid;
    }
    &__innerText-wrapper,
    .innerText-wrapper {
      margin: 9vw 0 9vw 0;
      width: 65vw;

      display: flex;
      align-items: left;
      justify-content: left;
      flex-direction: column;

      background-color: c.$three;
      &__innerLine {
        width: 60vw;
        height: 0.2vh;

        opacity: 0.4;
        border-bottom: c.$one 1vw dotted;
      }
      &__text {
        width: 60vw;
        border: none;

        background-color: transparent;
        font: t.$descriptions-font;
        text-align: left;
      }
    }
    &__btn,
    .btn {
      text-align: center;
      width: 25px;
      height: 25px;

      background-color: c.$one;
      // margin-right: 12vw;
      // margin-left: 2vw;

      border: none;
      display: flex;
      font-weight: bold;

      align-items: center;
      justify-content: center;
      border-radius: 5vw;

      &__plus {
        font: t.$descriptions-font;
        color: c.$two;
      }
    }
    &__pictogram {
      // margin: 1vw 10vw 1vw 2vw;
      width: 8vw;
      position: absolute;
      transform: translateX(15vw);
      margin-bottom: 2vw;
    }
  }
}
