@use "./colors" as c;
@use "./fonts" as t;

.main__foodList-wrapper,
.foodList-wrapper {
  display: flex;
  flex-direction: column;
  background-color: c.$one;
  &__headline-wrapper,
  .headline-wrapper {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    border-bottom: c.$three 0.3vw solid;
    &__headline {
      color: c.$two;
      color: rgb(110, 97, 77);
      color: c.$four;

      font: t.$two;
      color: c.$two;
      margin: 10vw 15vw 10vw 15vw;
      text-align: center;
    }
  }
  &__foodList,
  .foodlist {
    display: flex;
    flex-direction: column;
    display: flex;
    &__foodListElements-wrapper,
    .foodListElements-wrapper {
      display: flex;
      flex-direction: row;
      width: 100vw;
      border-bottom: c.$three 0.3vw solid;
      justify-content: center;
      align-items: center;
      background-color: c.$one;
      text-align: center;
      height: 20vw;
      &__textAndPictograms,
      .textAndPictograms {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__text {
          width: auto !important;
          border: none;

          // transform: translateX(-width/2);
          color: c.$two;
          font: t.$descriptions-font;
          text-align: center;
        }
        &__pictogram {
          width: auto !important;
          height: 13vw;
          margin-left: 5vw;
        }
        // &__pictogram-milk {
        //   width: auto !important;
        //   height: 12vw;
        //   margin-left: 5vw;
        // }
        // &__pictogram-apple {
        //   width: auto !important;
        //   height: 12vw;
        //   margin-left: 5vw;
        // }
      }
    }
  }
}
