@use "./colors" as c;
@use "./fonts" as t;

.foodListElements-wrapper__btnAddWrapper,
.btnAddWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  border: none;
  background-color: transparent;
  margin-left: 78vw;

  &__handleComponentBtnCircleAdd,
  .handleComponentBtnCircleAdd {
    text-align: center;

    width: 1.8rem;
    height: 1.8rem;
    background-color: c.$one;

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    border: none;

    color: c.$one;
    color: c.$two;
    font: t.$descriptions-font;
    background-color: c.$two;
    background-color: transparent;
    border: c.$three solid 0.3vw;
    transform: translateY(0.1vw) translateX(-0.1vw);
    &__sign {
      height: 1rem;
      width: 1rem;
    }
  }
}

.foodListElements-wrapper__btnRemoveWrapper,
.btnRemoveWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  border: none;
  background-color: transparent;

  margin-right: 78vw;
  &__handleComponentBtnCircleRemove,
  .handleComponentBtnCircleRemove {
    text-align: center;

    width: 1.8rem;
    height: 1.8rem;
    background-color: c.$one;

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5vw;
    border: c.$three solid 0.3vw;

    color: c.$one;
    color: c.$two;
    font: t.$descriptions-font;
    background-color: c.$two;
    background-color: transparent;
    transform: translateY(0.1vw) translateX(-0.1vw) rotate(45deg);
  }
}
