@use "./colors" as c;
@use "./fonts" as t;

.main__handleListBtns-wrapper,
.handleListBtns-wrapper {
  display: flex;
  width: 100vw;
  height: 40vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__btnAddToGroceryList {
    width: 100vw;

    height: 20vw;
    // border: 1vw solid c.$two;
    border: none;
    font: t.$descriptions-font;
    background-color: c.$three;
    color: c.$two;
    border-bottom: c.$one 0.3vw solid;

    // border-right: c.$three 0.3vw solid;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__clearGroceryList,
  .clearGroceryList {
    width: 100vw;
    height: 22vw;
    // background-color: c.$one;
    // border: 1vw solid c.$two;
    border: none;
    font: t.$descriptions-font;
    color: c.$two;

    border-bottom: c.$one 0.3vw solid;
    // border-top: c.$one 0.3vw solid;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    background-color: c.$three;
    &__circle-wrapper,
    .circle-wrapper {
      display: flex;
      flex-direction: row;

      &__circle,
      .circle {
        cursor: pointer;
        text-align: center;
        // width: 30px;
        // height: 30px;
        width: 1.8rem;
        height: 1.8rem;

        text-align: center;
        background-color: c.$one;
        // background-color: transparent;
        border: none;

        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5vw;
        margin-left: 5vw;

        &__cross {
          transform: rotate(45deg);
          font: t.$descriptions-font;
          color: c.$two;
          transform: translateY(0.1vw) translateX(-0.3vw) rotate(45deg);
        }
        &__copy {
          // transform: rotate(45deg);
          font: t.$descriptions-font;
          color: c.$two;
          // transform: translateY(0.1vw) translateX(-0.1vw);
          width: 1.1rem;
          height: 1.1rem;
        }
        &__plus {
          font: t.$descriptions-font;
          color: c.$two;
          height: 1rem;
          // background-color: transparent;
          transform: translateY(0.1vw) translateX(-0.1vw);
        }
      }
    }
  }
}
