@use "./styles/colors" as c;
@use "./styles/fonts" as t;
@import url(./styles/_foodComponent.scss);
@import url(./styles/_btnAddFood.scss);
@import url(./styles/_foodList.scss);
@import url(./styles/_chooseListBtn.scss);

header {
  &__logo-wrapper,
  .logo-wrapper {
    width: 100vw;
    height: 15vh;

    display: flex;
    align-items: center;

    justify-content: center;
    background-color: c.$one;

    &__logo {
      width: 50vw;
      margin: 5vw 20vw 5vw 20vw;
    }
  }
}

.main {
  background-color: c.$three;
  width: 100vw;
  min-height: 85vh;
}

.flex {
  display: flex;
}
