@use "./styles/colors" as c;
@use "./styles/fonts" as t;
@import url(./styles/_foodComponent.scss);
@import url(./styles/_btnAddFood.scss);
@import url(./styles/_foodList.scss);
@import url(./styles/_chooseListBtn.scss);
@import url(./styles/_header.scss);
@import url(./styles/_handleListsBtns.scss);
@import url(./styles/_foodComponentsBtns.scss);
@import url(./styles/_foodListPictograms.scss);

.main {
  background-color: c.$three;
  width: 100vw;
  min-height: 85vh;
}
